.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: rotate360 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}
@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}